.checkout {
  width: 85%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  justify-content: center;
  align-items: flex-end;

  .header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;

    .h-blocks {
      text-transform: capitalize;
      width: 23%;

      &:last-child {
        width: 8%;
      }  
    }
  }

  .total {
    font-size: 38px;
    padding: 20px 0;
  }

  .StripeCheckout {
    margin: 0 auto;
  }
}