.cart_dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  top: 55px;
  right: 0;
  z-index: 5;
  overflow: scroll;

  .cart_items {
    height: 240px;
    display: flex;
    flex-direction: column;
  }
  .empty {
    text-align: center;
  }
}