// Open Sans Condensed FONT
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
/* 
RESET 
*/
* , *::before , *::after , html {
  box-sizing: border-box;
  margin: 0;
}
/* 
ALL Browsers Generics  
*/
body {
  margin: 0;
  padding: 20px 70px;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans Condensed' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: none;
    color: #000;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
